*/node_modules
dev-vedionew
manodayam-ott/.htaccess
manodayam-ott/asset-manifest.json
manodayam-ott/favicon.ico
manodayam-ott/index.html
manodayam-ott/logo192.png
manodayam-ott/logo512.png
manodayam-ott/manifest.json
manodayam-ott/robots.txt
manodayam-ott/assets/css/boxed.css
manodayam-ott/assets/css/icons.css
manodayam-ott/assets/css/skins.css
manodayam-ott/assets/css/style.css
manodayam-ott/assets/css/colors/color.css
manodayam-ott/assets/css/sidemenu/sidemenu.css
manodayam-ott/assets/iconfonts/icon-list.css
manodayam-ott/assets/iconfonts/IcoMoon/IcoMoon.css
manodayam-ott/assets/iconfonts/boxicons/boxicons.css
manodayam-ott/assets/iconfonts/boxicons/fonts/boxicons.eot
manodayam-ott/assets/iconfonts/boxicons/fonts/boxicons.svg
manodayam-ott/assets/iconfonts/boxicons/fonts/boxicons.ttf
manodayam-ott/assets/iconfonts/boxicons/fonts/boxicons.woff
manodayam-ott/assets/iconfonts/boxicons/fonts/boxicons.woff2
manodayam-ott/assets/iconfonts/cryptofont/css/cryptofont.min.css
manodayam-ott/assets/iconfonts/feather/feather.css
manodayam-ott/assets/iconfonts/feather/fonts/feather-webfont.eot
manodayam-ott/assets/iconfonts/feather/fonts/feather-webfont.svg
manodayam-ott/assets/iconfonts/feather/fonts/feather-webfont.ttf
manodayam-ott/assets/iconfonts/feather/fonts/feather-webfont.woff
manodayam-ott/assets/iconfonts/font-awesome/css/fa-brands-400.eot
manodayam-ott/assets/iconfonts/font-awesome/css/fa-brands-400.svg
manodayam-ott/assets/iconfonts/font-awesome/css/fa-brands-400.ttf
manodayam-ott/assets/iconfonts/font-awesome/css/fa-brands-400.woff
manodayam-ott/assets/iconfonts/font-awesome/css/fa-brands-400.woff2
manodayam-ott/assets/iconfonts/font-awesome/css/fa-brands-400d41d.eot
manodayam-ott/assets/iconfonts/font-awesome/css/fa-regular-400.eot
manodayam-ott/assets/iconfonts/font-awesome/css/fa-regular-400.svg
manodayam-ott/assets/iconfonts/font-awesome/css/fa-regular-400.ttf
manodayam-ott/assets/iconfonts/font-awesome/css/fa-regular-400.woff
manodayam-ott/assets/iconfonts/font-awesome/css/fa-regular-400.woff2
manodayam-ott/assets/iconfonts/font-awesome/css/fa-regular-400d41d.eot
manodayam-ott/assets/iconfonts/font-awesome/css/fa-solid-900.eot
manodayam-ott/assets/iconfonts/font-awesome/css/fa-solid-900.svg
manodayam-ott/assets/iconfonts/font-awesome/css/fa-solid-900.ttf
manodayam-ott/assets/iconfonts/font-awesome/css/fa-solid-900.woff
manodayam-ott/assets/iconfonts/font-awesome/css/fa-solid-900.woff2
manodayam-ott/assets/iconfonts/font-awesome/css/fa-solid-900d41d.eot
manodayam-ott/assets/iconfonts/font-awesome/css/font-awesome.min.css
manodayam-ott/assets/iconfonts/glyphicons/glyphicon.css
manodayam-ott/assets/iconfonts/glyphicons/fonts/glyphicons-halflings-regular.eot
manodayam-ott/assets/iconfonts/glyphicons/fonts/glyphicons-halflings-regular.svg
manodayam-ott/assets/iconfonts/glyphicons/fonts/glyphicons-halflings-regular.ttf
manodayam-ott/assets/iconfonts/glyphicons/fonts/glyphicons-halflings-regular.woff
manodayam-ott/assets/iconfonts/glyphicons/fonts/glyphicons-halflings-regular.woff2
manodayam-ott/assets/iconfonts/ionicons/ionicons.css
manodayam-ott/assets/iconfonts/ionicons/fonts/ionicons.eot
manodayam-ott/assets/iconfonts/ionicons/fonts/ionicons.svg
manodayam-ott/assets/iconfonts/ionicons/fonts/ionicons.ttf
manodayam-ott/assets/iconfonts/ionicons/fonts/ionicons.woff
manodayam-ott/assets/iconfonts/line-awesome/line-awesome.css
manodayam-ott/assets/iconfonts/line-awesome/fonts/la-brands-400.eot
manodayam-ott/assets/iconfonts/line-awesome/fonts/la-brands-400.svg
manodayam-ott/assets/iconfonts/line-awesome/fonts/la-brands-400.ttf
manodayam-ott/assets/iconfonts/line-awesome/fonts/la-brands-400.woff
manodayam-ott/assets/iconfonts/line-awesome/fonts/la-brands-400.woff2
manodayam-ott/assets/iconfonts/line-awesome/fonts/la-brands-400d41d.eot
manodayam-ott/assets/iconfonts/line-awesome/fonts/la-regular-400.eot
manodayam-ott/assets/iconfonts/line-awesome/fonts/la-regular-400.svg
manodayam-ott/assets/iconfonts/line-awesome/fonts/la-regular-400.ttf
manodayam-ott/assets/iconfonts/line-awesome/fonts/la-regular-400.woff
manodayam-ott/assets/iconfonts/line-awesome/fonts/la-regular-400.woff2
manodayam-ott/assets/iconfonts/line-awesome/fonts/la-regular-400d41d.eot
manodayam-ott/assets/iconfonts/line-awesome/fonts/la-solid-900.eot
manodayam-ott/assets/iconfonts/line-awesome/fonts/la-solid-900.svg
manodayam-ott/assets/iconfonts/line-awesome/fonts/la-solid-900.ttf
manodayam-ott/assets/iconfonts/line-awesome/fonts/la-solid-900.woff
manodayam-ott/assets/iconfonts/line-awesome/fonts/la-solid-900.woff2
manodayam-ott/assets/iconfonts/line-awesome/fonts/la-solid-900d41d.eot
manodayam-ott/assets/iconfonts/linearicons/Linearicons.css
manodayam-ott/assets/iconfonts/linearicons/fonts/Linearicons-Free.eot
manodayam-ott/assets/iconfonts/linearicons/fonts/Linearicons-Free.svg
manodayam-ott/assets/iconfonts/linearicons/fonts/Linearicons-Free.ttf
manodayam-ott/assets/iconfonts/linearicons/fonts/Linearicons-Free.woff
manodayam-ott/assets/iconfonts/linearicons/fonts/Linearicons-Free.woff2
manodayam-ott/assets/iconfonts/materialdesignicons/materialdesignicons.css
manodayam-ott/assets/iconfonts/materialdesignicons/fonts/Material-Design-Iconic-Fontd1f1.ttf
manodayam-ott/assets/iconfonts/materialdesignicons/fonts/Material-Design-Iconic-Fontd1f1.woff
manodayam-ott/assets/iconfonts/materialdesignicons/fonts/Material-Design-Iconic-Fontd1f1.woff2
manodayam-ott/assets/iconfonts/materialdesignicons/fonts/materialdesignicons-webfont.eot
manodayam-ott/assets/iconfonts/materialdesignicons/fonts/materialdesignicons-webfont.woff2
manodayam-ott/assets/iconfonts/materialdesignicons/fonts/materialdesignicons/materialdesignicons-webfont-2.html
manodayam-ott/assets/iconfonts/materialdesignicons/fonts/materialdesignicons/materialdesignicons-webfont-3.html
manodayam-ott/assets/iconfonts/materialdesignicons/fonts/materialdesignicons/materialdesignicons-webfont.html
manodayam-ott/assets/iconfonts/pe-icon-7-stroke/Pe-icon-7.css
manodayam-ott/assets/iconfonts/pe-icon-7-stroke/fonts/Pe-icon-7-stroke.eot
manodayam-ott/assets/iconfonts/pe-icon-7-stroke/fonts/Pe-icon-7-stroke.svg
manodayam-ott/assets/iconfonts/pe-icon-7-stroke/fonts/Pe-icon-7-stroke.ttf
manodayam-ott/assets/iconfonts/pe-icon-7-stroke/fonts/Pe-icon-7-stroke.woff
manodayam-ott/assets/iconfonts/simple-line-icons/simple-line-icons.css
manodayam-ott/assets/iconfonts/simple-line-icons/fonts/Simple-Line-Icons.eot
manodayam-ott/assets/iconfonts/simple-line-icons/fonts/Simple-Line-Icons.svg
manodayam-ott/assets/iconfonts/simple-line-icons/fonts/Simple-Line-Icons.ttf
manodayam-ott/assets/iconfonts/simple-line-icons/fonts/Simple-Line-Icons.woff
manodayam-ott/assets/iconfonts/simple-line-icons/fonts/Simple-Line-Icons.woff2
manodayam-ott/assets/iconfonts/themify/themify.css
manodayam-ott/assets/iconfonts/themify/fonts/themify.eot
manodayam-ott/assets/iconfonts/themify/fonts/themify.svg
manodayam-ott/assets/iconfonts/themify/fonts/themify.ttf
manodayam-ott/assets/iconfonts/themify/fonts/themify.woff
manodayam-ott/assets/iconfonts/typicons/typicons.css
manodayam-ott/assets/iconfonts/typicons/fonts/typicons.eot
manodayam-ott/assets/iconfonts/typicons/fonts/typicons.svg
manodayam-ott/assets/iconfonts/typicons/fonts/typicons.ttf
manodayam-ott/assets/iconfonts/typicons/fonts/typicons.woff
manodayam-ott/assets/iconfonts/weathericons/weathericons.css
manodayam-ott/assets/iconfonts/weathericons/fonts/weathericons-regular-webfont.eot
manodayam-ott/assets/iconfonts/weathericons/fonts/weathericons-regular-webfont.svg
manodayam-ott/assets/iconfonts/weathericons/fonts/weathericons-regular-webfont.ttf
manodayam-ott/assets/iconfonts/weathericons/fonts/weathericons-regular-webfont.woff
manodayam-ott/assets/iconfonts/weathericons/fonts/weathericons-regular-webfont.woff2
manodayam-ott/assets/images/faces/female/6.html
manodayam-ott/assets/images/faces/female/15.html
manodayam-ott/assets/images/faces/male/13.html
manodayam-ott/assets/img/amex.png
manodayam-ott/assets/img/an-banner.jpeg
manodayam-ott/assets/img/body-banner.jpeg
manodayam-ott/assets/img/dis.jpg
manodayam-ott/assets/img/dis1.jpeg
manodayam-ott/assets/img/dis2.jpeg
manodayam-ott/assets/img/dis3.jpeg
manodayam-ott/assets/img/dis4.jpeg
manodayam-ott/assets/img/dis5.jpeg
manodayam-ott/assets/img/dis6.jpeg
manodayam-ott/assets/img/dis7.jpeg
manodayam-ott/assets/img/dis8.jpeg
manodayam-ott/assets/img/dis9.jpeg
manodayam-ott/assets/img/dis10.jpeg
manodayam-ott/assets/img/fe.jpeg
manodayam-ott/assets/img/mastercard.png
manodayam-ott/assets/img/meditate-banner.jpeg
manodayam-ott/assets/img/music-banner.jpeg
manodayam-ott/assets/img/paypal.png
manodayam-ott/assets/img/scene-banner.jpeg
manodayam-ott/assets/img/seen1.jpeg
manodayam-ott/assets/img/seen2.jpeg
manodayam-ott/assets/img/seen3.jpeg
manodayam-ott/assets/img/seen4.jpeg
manodayam-ott/assets/img/seen6.jpeg
manodayam-ott/assets/img/seen6.webp
manodayam-ott/assets/img/sleep-banner.jpeg
manodayam-ott/assets/img/visa.png
manodayam-ott/assets/img/brand/3.png
manodayam-ott/assets/img/brand/4.png
manodayam-ott/assets/img/brand/dark-logo.png
manodayam-ott/assets/img/brand/icon.png
manodayam-ott/assets/img/brand/logo.png
manodayam-ott/assets/img/brand/logo12.png
manodayam-ott/assets/img/media/1.jpg
manodayam-ott/assets/img/media/2.jpg
manodayam-ott/assets/img/media/3.jpg
manodayam-ott/assets/img/media/4.jpg
manodayam-ott/assets/img/media/5.jpg
manodayam-ott/assets/img/media/6.jpg
manodayam-ott/assets/img/media/7.jpg
manodayam-ott/assets/img/media/8.jpg
manodayam-ott/assets/img/media/9.jpg
manodayam-ott/assets/img/media/10.jpg
manodayam-ott/assets/img/media/11.jpg
manodayam-ott/assets/img/media/12.jpg
manodayam-ott/assets/img/media/13.jpg
manodayam-ott/assets/img/media/14.jpg
manodayam-ott/assets/img/media/15.jpg
manodayam-ott/assets/img/media/16.jpg
manodayam-ott/assets/img/media/17.jpg
manodayam-ott/assets/img/media/18.jpg
manodayam-ott/assets/img/media/19.jpg
manodayam-ott/assets/img/media/20.jpg
manodayam-ott/assets/img/media/404.png
manodayam-ott/assets/img/media/b1.jpg
manodayam-ott/assets/img/media/bg-img.jpg
manodayam-ott/assets/img/media/bitcoin-background.png
manodayam-ott/assets/img/media/bitcoin.png
manodayam-ott/assets/img/media/Stars.png
manodayam-ott/assets/img/pngs/01.png
manodayam-ott/assets/img/pngs/1.png
manodayam-ott/assets/img/pngs/02.png
manodayam-ott/assets/img/pngs/2.png
manodayam-ott/assets/img/pngs/03.png
manodayam-ott/assets/img/pngs/3.png
manodayam-ott/assets/img/pngs/04.png
manodayam-ott/assets/img/pngs/4.png
manodayam-ott/assets/img/pngs/05.png
manodayam-ott/assets/img/pngs/5.png
manodayam-ott/assets/img/pngs/06.png
manodayam-ott/assets/img/pngs/6.png
manodayam-ott/assets/img/pngs/07.png
manodayam-ott/assets/img/pngs/7.png
manodayam-ott/assets/img/pngs/08.png
manodayam-ott/assets/img/pngs/8.png
manodayam-ott/assets/img/pngs/09.png
manodayam-ott/assets/img/pngs/9.png
manodayam-ott/assets/img/pngs/14.png
manodayam-ott/assets/img/pngs/15.png
manodayam-ott/assets/img/pngs/16.png
manodayam-ott/assets/img/pngs/17.png
manodayam-ott/assets/img/pngs/18.png
manodayam-ott/assets/img/pngs/19.png
manodayam-ott/assets/img/pngs/20.png
manodayam-ott/assets/img/pngs/21.png
manodayam-ott/assets/img/pngs/22.png
manodayam-ott/assets/img/pngs/23.png
manodayam-ott/assets/img/pngs/24.png
manodayam-ott/assets/img/pngs/25.png
manodayam-ott/assets/img/pngs/26.png
manodayam-ott/assets/img/pngs/27.png
manodayam-ott/assets/img/pngs/28.png
manodayam-ott/assets/img/pngs/29.png
manodayam-ott/assets/img/pngs/30.png
manodayam-ott/assets/img/pngs/31.png
manodayam-ott/assets/img/pngs/32.png
manodayam-ott/assets/img/pngs/33.png
manodayam-ott/assets/img/pngs/34.png
manodayam-ott/assets/img/pngs/35.png
manodayam-ott/assets/img/pngs/36.png
manodayam-ott/assets/img/pngs/37.png
manodayam-ott/assets/img/pngs/Backgrounds.png
manodayam-ott/assets/img/pngs/bg.png
manodayam-ott/assets/img/pngs/bg1.png
manodayam-ott/assets/img/pngs/Bitcoins.png
manodayam-ott/assets/img/pngs/chair-1.png
manodayam-ott/assets/img/pngs/chair-2.png
manodayam-ott/assets/img/pngs/chair-3.png
manodayam-ott/assets/img/pngs/chair-4.png
manodayam-ott/assets/img/pngs/chair-5.png
manodayam-ott/assets/img/pngs/dark-signup-1.png
manodayam-ott/assets/img/pngs/dark-signup-2.png
manodayam-ott/assets/img/pngs/img-1.png
manodayam-ott/assets/img/pngs/img-2.png
manodayam-ott/assets/img/pngs/qrcode.png
manodayam-ott/assets/img/pngs/shirt-1.png
manodayam-ott/assets/img/pngs/shirt-3.png
manodayam-ott/assets/img/pngs/shirt-4.png
manodayam-ott/assets/img/pngs/signin-1.png
manodayam-ott/assets/img/pngs/signin-2.png
manodayam-ott/assets/img/pngs/signin-3.png
manodayam-ott/assets/img/pngs/signup-1.png
manodayam-ott/assets/img/pngs/signup-2.png
manodayam-ott/assets/img/users/1.jpg
manodayam-ott/assets/img/users/2.jpg
manodayam-ott/assets/img/users/3.jpg
manodayam-ott/assets/img/users/4.jpg
manodayam-ott/assets/img/users/5.jpg
manodayam-ott/assets/img/users/6.jpg
manodayam-ott/assets/img/users/7.jpg
manodayam-ott/assets/img/users/8.jpg
manodayam-ott/assets/img/users/9.jpg
manodayam-ott/assets/img/users/10.jpg
manodayam-ott/assets/img/users/11.jpg
manodayam-ott/assets/img/users/12.jpg
manodayam-ott/assets/js/carousel.js
manodayam-ott/assets/js/chat.js
manodayam-ott/assets/js/custom.js
manodayam-ott/assets/js/index.js
manodayam-ott/assets/js/index2.js
manodayam-ott/assets/js/index3.js
manodayam-ott/assets/js/modal.js
manodayam-ott/assets/js/navigation.js
manodayam-ott/assets/js/sticky.js
manodayam-ott/assets/js/tooltip.js
manodayam-ott/assets/js/widgets.js
manodayam-ott/assets/music/infinity.mp3
manodayam-ott/assets/plugins/bootstrap/css/bootstrap.min.css
manodayam-ott/assets/plugins/bootstrap/js/bootstrap.bundle.min.js
manodayam-ott/assets/plugins/bootstrap/js/bootstrap.min.js
manodayam-ott/assets/plugins/bootstrap/js/popper.min.js
manodayam-ott/assets/plugins/bootstrap-daterangepicker/daterangepicker.css
manodayam-ott/assets/plugins/bootstrap-daterangepicker/daterangepicker.js
manodayam-ott/assets/plugins/bootstrap-daterangepicker/moment.min.js
manodayam-ott/assets/plugins/fileuploads/css/fileupload.css
manodayam-ott/assets/plugins/fileuploads/js/file-upload.js
manodayam-ott/assets/plugins/fileuploads/js/fileupload.js
manodayam-ott/assets/plugins/gallery/gallery.css
manodayam-ott/assets/plugins/gallery/lg-autoplay.js
manodayam-ott/assets/plugins/gallery/lg-fullscreen.js
manodayam-ott/assets/plugins/gallery/lg-hash.js
manodayam-ott/assets/plugins/gallery/lg-pager.js
manodayam-ott/assets/plugins/gallery/lg-share.js
manodayam-ott/assets/plugins/gallery/lg-zoom.js
manodayam-ott/assets/plugins/gallery/lightgallery-1.js
manodayam-ott/assets/plugins/gallery/lightgallery.js
manodayam-ott/assets/plugins/gallery/loading.gif
manodayam-ott/assets/plugins/gallery/picturefill.js
manodayam-ott/assets/plugins/gallery/fonts/lgd41d.eot
manodayam-ott/assets/plugins/gallery/fonts/lgd641.eot
manodayam-ott/assets/plugins/gallery/fonts/lgd641.svg
manodayam-ott/assets/plugins/gallery/fonts/lgd641.ttf
manodayam-ott/assets/plugins/gallery/fonts/lgd641.woff
manodayam-ott/assets/plugins/img/video-play.html
manodayam-ott/assets/plugins/img/vimeo-play.html
manodayam-ott/assets/plugins/img/youtube-play.html
manodayam-ott/assets/plugins/inputtags/inputtags.css
manodayam-ott/assets/plugins/inputtags/inputtags.js
manodayam-ott/assets/plugins/jquery/jquery.min.js
manodayam-ott/assets/plugins/jquery-ui/ui/widgets/datepicker.js
manodayam-ott/assets/plugins/jquery.flot/jquery.flot.js
manodayam-ott/assets/plugins/jquery.flot/jquery.flot.pie.js
manodayam-ott/assets/plugins/jquery.flot/jquery.flot.resize.js
manodayam-ott/assets/plugins/lightslider/css/lightslider.min.css
manodayam-ott/assets/plugins/lightslider/img/controls.png
manodayam-ott/assets/plugins/lightslider/js/lightslider.min.js
manodayam-ott/assets/plugins/owl-carousel/cursor.png
manodayam-ott/assets/plugins/owl-carousel/owl.carousel.css
manodayam-ott/assets/plugins/owl-carousel/owl.carousel.js
manodayam-ott/assets/plugins/owl-carousel/owl.video.play.html
manodayam-ott/assets/plugins/sidebar/sidebar.js
manodayam-ott/assets/plugins/sidemenu/sidemenu.js
manodayam-ott/assets/switcher/demo.css
manodayam-ott/assets/switcher/css/switcher.css
manodayam-ott/assets/switcher/img/1.png
manodayam-ott/assets/switcher/img/2.png
manodayam-ott/assets/switcher/img/3.png
manodayam-ott/assets/switcher/img/4.png
manodayam-ott/assets/switcher/img/5.png
manodayam-ott/assets/switcher/img/6.png
manodayam-ott/assets/switcher/img/7.png
manodayam-ott/assets/switcher/img/8.png
manodayam-ott/assets/switcher/img/10.png
manodayam-ott/assets/switcher/img/11.png
manodayam-ott/assets/switcher/img/12.png
manodayam-ott/assets/switcher/img/13.png
manodayam-ott/assets/switcher/js/switcher.js
manodayam-ott/static/css/2.8c0e6b67.chunk.css
manodayam-ott/static/css/2.8c0e6b67.chunk.css.map
manodayam-ott/static/css/main.5739ad41.chunk.css
manodayam-ott/static/css/main.5739ad41.chunk.css.map
manodayam-ott/static/js/2.9a9d4339.chunk.js
manodayam-ott/static/js/2.9a9d4339.chunk.js.LICENSE.txt
manodayam-ott/static/js/2.9a9d4339.chunk.js.map
manodayam-ott/static/js/3.05807816.chunk.js
manodayam-ott/static/js/3.05807816.chunk.js.map
manodayam-ott/static/js/main.e6cabda3.chunk.js
manodayam-ott/static/js/main.e6cabda3.chunk.js.map
manodayam-ott/static/js/runtime-main.e2b1d860.js
manodayam-ott/static/js/runtime-main.e2b1d860.js.map
manodayam-ott/static/media/first.9a5bdeae.mp3
manodayam-ott/static/media/img.22dc1c8a.jpeg
manodayam-ott/static/media/musicimg.481e606e.jpeg
