body {
    background-color: red!important;
    margin:0px;
    padding: 0px;
    
}
.video-grid {
    display: flex;
    justify-content: center;

}
video {
    height: 280px;
    width: 280px;
    object-fit: cover;
    margin: 5px;
}
.main{
    height: 100vh!important;
    display: flex;
}
.main__letf {
    flex: 0.8;
    display: flex;
    flex-direction: column;
}
.main__right {
    flex: 0.2;
    
}
.main_videos {
    flex-grow: 1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.main__controls {
    display: flex;
    background-color: #0d0d0d;
    color: #020202;
    padding: 5px;
    justify-content: space-between;

}
.main__controls__blocks {
    display: flex;
}
.main__controls__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 88px;
    cursor: pointer;
    color: #cfcfcf;
}
.main__controls__blocks :hover {
    background-color: #1402b1;
}
.main__controls__button i {
    font-size: 24px;
}
.leavemeet{
    color: red !important;
}
.leavemeet :hover{
    color: white;
}
.main__header {
    color: #f5f5f5;
    text-align: center;
}
.main__chat_window { 
    flex-grow: 1;
    overflow-y: scroll;
}
.main__message_container {
    padding: 22px 12px;
    display: flex;
}

.main__right {
    display: flex;
    flex-direction: column;
    background-color: #242324;
    border-left: 1px solid #303042;
}
.main__message_container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #f5f5f5;
}

.mute {
    color: red;
}
.redvideo {
    color:red;
}
.message-li {
    color: #f5f5f5;
    list-style: none;
}